# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/
.env

# Test coverage
.coverage
*.cover

# IDE or editor specific files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Miscellaneous
*.DS_Store  # macOS Finder
*.bak       # Backup files
